@model CodeForum.Models.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
}
<h2>Change password for user: @Model.Email</h2>

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
    <form asp-action="ChangePassword" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
 
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <div class="form-group">
            <label asp-for="OldPassword" class="control-label">Old Password</label>
            <input type="text" asp-for="OldPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">New Password</label>
            <input type="text" asp-for="NewPassword" class="form-control" />
        </div>
        <div class="form-group m-2">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    </div>
</div>