@model CodeForum.Models.ViewModels.TopicEditViewModel

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <h2>Edit Topic</h2>

        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CategoryId" />

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group submit-button">
                 <button type="submit" class="btn btn-primary">Save</button>
            </div>
            
        </form>
    </div>
</div>