@model CodeForum.Models.ViewModels.PostAddViewModel

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <h2>Add Post</h2>

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="TopicId">
            <div class="form-group">
                <label for="Content">Content</label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary submit-button">Add Post</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}