@model CodeForum.Models.ViewModels.ForgotPasswordViewModel

<h2>Forgot your password?</h2>
<p>Enter your email address to receive a password reset link.</p>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>