@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <h2>Forgot your password?</h2>
        <p>If the email you entered is associated with an account in our system, we have sent a password reset link to it.</p>
    </div>
</div>