@model CodeForum.Models.ViewModels.ResetPasswordViewModel

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <h2>Reset your password</h2>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    </div>
</div>