@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <h2>Reset Password Confirmation</h2>
        <p>Your password has been reset successfully. You can now <a href="@Url.Action("Login", "Account")">log in</a> with your new password.</p>
    </div>
</div>